audioop-lts==0.2.2
audioread==3.0.1
bandit==1.8.6
black==25.1.0
Brotli==1.1.0
certifi==2025.8.3
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
coverage==7.10.3
cryptography==45.0.6
cssselect2==0.8.0
ctfr==0.1.0
decorator==5.2.1
distlib==0.4.0
dnspython==2.7.0
execnet==2.1.1
filelock==3.18.0
flake8==7.3.0
fonttools==4.59.0
identify==2.6.13
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
joblib==1.5.1
jwt==1.4.0
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.1
mypy_extensions==1.1.0
nodeenv==1.9.1
numba==0.61.2
numpy==2.2.6
packaging==25.0
pandas==2.3.1
pathspec==0.12.1
pbr==6.1.1
pdfkit==1.0.0
pillow==11.3.0
platformdirs==4.3.8
pluggy==1.6.0
pooch==1.8.2
pre_commit==4.3.0
psutil==7.0.0
pycodestyle==2.14.0
pycparser==2.22
pydyf==0.11.0
pyflakes==3.4.0
Pygments==2.19.2
pyphen==0.17.2
pytest==8.4.1
pytest-cov==6.2.1
pytest-xdist==3.8.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
requests==2.32.4
rich==14.1.0
scikit-learn==1.7.1
scipy==1.16.1
setuptools==80.9.0
six==1.17.0
soundfile==0.13.1
soxr==0.5.0.post1
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
stevedore==5.4.1
Sublist3r==1.0
threadpoolctl==3.6.0
tinycss2==1.4.0
tinyhtml5==2.0.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
validators==0.35.0
virtualenv==20.33.1
weasyprint==66.0
webencodings==0.5.1
zopfli==0.2.3.post1
